<tr>
  <td><%= sale.name %></td>

  <td><%= sale.starts_on.to_date.to_s %></td>

  <td><%= sale.ends_on.to_date.to_s %></td>

  <td>Status</td>

  <td><%= sale.percent_off %></td>

  <td></td>
  
</tr>