<section class="admin-categories-new">
  <header class="page-header">
    <h1>Admin &raquo; New Category</h1>

    <%= link_to 'All Categories', [:admin, :categories], class: 'btn btn-info' %>
  </header>
</section>